#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.sln
Services.csproj
user.config
Connections.config
applicationhost.config
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.pdb
*.sln.DotSettings
*/.vs/config*/
ipch/
obj/
VendorFuelManagement.dll
VendorFuelManagement.dll.config
VendorFuelManagement.pdb
VendorFuelManagement.XmlSerializers.dll
Degatech.Utilities.dll
Degatech.Common.dll
VFMClasses.dll
VFMClasses.dll.config
VFMClasses.pdb
VFMClasses.XmlSerializers.dll
DegaFuelManagement.dll
DegaFuelManagement.dll.config
DegaFuelManagement.XmlSerializers.dll
*/[Bb]in*/DegaFuelManagement.dll
*/[Bb]in*/DegaFuelManagement.dll.config
*/[Bb]in*/DegaFuelManagement.pdb
*/[Bb]in*/DegaFuelManagement.XmlSerializers.dll
*/[Bb]in*/Degatech.Utilities.dll
*/[Bb]in*/Degatech.Utilities.pdb
*/[Bb]in*/VFM.Web.dll
*/[Bb]in*/VFMClasses.dll
*/[Bb]in*/Degatech.Common.dll
*/[Bb]in*/FuelerlinxClasses.dll
*/[Bb]in*/FuelerlinxClasses.pdb
*/[Bb]in*/FuelerlinxClasses.XmlSerializers.dll
*/[Bb]in*/Services.dll
*/[Bb]in*/Services.dll.config
*/[Bb]in*/Services.pdb
*/[Bb]in*/FuelerlinxApp.dll
*/[Bb]in*/FuelerlinxApp.XmlSerializers.dll
*/[Bb]in*/FuelerlinxApp.pdb
*/[Bb]in*/EnvDTE.dll
*/[Bb]in*/EnvDTE.xml
*/[Bb]in*/System.Web.Mvc.dll
*/[Bb]in*/stdole.dll
[Dd]ebug*/
[Rr]elease*/
[Pp]ublish*/
[Pp]ackages*/
EverestProduction*/
*/VFM.Web/[Bb]in/
Ankh.NoLoad
[Uu]ser[Tt]emp*/
[Uu]ploads*/
[Gg]eneric.xml
applicationhost.config
[Tt]ransactionsSync*/
[Ee]xports/
Web.config
appsettings.config
*/Degatech.Common/[Bb]in/
*/VFM.API/[Bb]in/
*/VFM.EDM/[Bb]in/
*/VFMClasses/[Bb]in/DegaFuelManagement/
*/VFMClasses/[Bb]in/StagingDega/
*/VFMClasses/[Bb]in/StagingEverest/
*/VFMClasses/[Bb]in/StagingVendorlinx/

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
*_Export.xlsx

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings
/FuelerLinx/
