@model VFM.Web.Models.ViewModels.ItemViewModel<object>

@{
    ViewBag.Title = "GetFBODetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="content">
    <h2>FBO Details</h2>
</header>