@Model VendorFuelManagement.Models.ViewModels.ItemViewModel<int>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <header class="content">
        <h2>Client Info</h2>
    </header>

    <div data-ng-controller="clientInfoController as info" id="infoCtrl">
        {{info.test}}
    </div>

    @section Scripts{
        <script src="~/Scripts/AngularJS/Services/clients.js"></script>
        <script type="text/javascript">

            degatech.page.startUp = function () {
                degatech.page.userController = degatech.ng.getControllerInstance($("#infoCtrl"));
            }

            degatech.services.clientsFactory = function ($baseService) {
                var serviceObject = degatech.services.clients;
                var newService = $baseService.merge(true, {}, serviceObject, $baseService);
                return newService;
            }

            degatech.ng.addService(degatech.ng.app.module,
                "$clientsService",
                ["$baseService"],
                degatech.services.clientsFactory);

            degatech.page.clientsControllerFactory = function ($scope, $baseController, $clientsService) {

                var vm = this;

                $baseController.merge(vm, $baseController);

                vm.$clientService = $clientsService;
                vm.$scope = $scope;

                vm.test = "This is a test";
                vm.onGetInfoSuccess = _onGetInfoSuccess;
                vm.onError = _onError;

                vm.clients = null;
                vm.notify = vm.$clientService.getNotifier($scope);

                render();

                function render() {
                    vm.$clientService.getClientInfo(clientId, vm.onGetInfoSuccess, vm.onError);
                }

                function _onGetInfoSuccess(data) {
                    vm.notify(function () {
                        vm.clients = data.Items;
                        console.log(vm.clients);
                    });
                }

                function _onError() {
                    vm.error = "An error has occurred!";
                    console.log(vm.error);
                    window.alert(vm.error);
                }

            }

            degatech.ng.addController(degatech.ng.app.module,
                "clientInfoController",
                ['$scope', '$baseController', "$clientsService"],
                degatech.page.clientsControllerFactory);
        </script>

    }