/*

    Main Application CSS

*/

.hide-everest {
    
}

.show-everest {
    display:none;
}

article {
  background: #e7e7e7;
}

.full-width {
  width: 100%;
}

.form-control {
  height: 33px;
  font-size: 12px;
}

label {
  margin-bottom: 0px;
}

.font-600 {
  font-weight: 600;
}

.font-500 {
    font-weight: 500;
}

.font-16 {
  font-size: 16px !important;
}

div.sub-details-checkbox {
  padding-left: 5px;
}

td.chosen-select {
  /*padding: 4px 1px 1px 8px !important;*/
}

td.chosen-select > div.chosen-container-single > a.chosen-single {
    /*height: 30px !important;
    padding: 3px 0 0 8px !important;*/
}

td.chosen-select > div.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 5px;
}

td.chosen-select > div.chosen-container-single .chosen-single div b {
    background-position: 0px 5px;
}

i.fa-arrow-circle-o-up,
i.fa-arrow-circle-o-down {
  font-size: 14px;
}


.dashboard-content-container {
    padding-top: 30px;
}

.input-icon-left > i, .input-icon-right > i {
    right:15px;
}

.contact-info-heading {
    font-size: 30px;
}

.contact-info-container section#widget-grid > div > div.col-sm-12 {
    padding-top: 30px;
}

/*Chosen Select Dropdown*/

div.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 5px;
}

div.chosen-container-single .chosen-single div b {
    background-position: 0px 5px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  background-image: none !important;
  background: white !important;
  height:33px !important;
}

.chosen-container-single .chosen-single {
  border-radius: 2px !important;
  border: 1px solid #ddd !important;
  background-image: none !important;
  background: white !important;
  box-shadow: none !important;
  height:33px !important;
}

.chosen-container .chosen-drop {
   border: 1px solid #ddd !important;
}

.chosen-container-single .chosen-drop {
  border-radius: 0 0 2px 2px !important;
}

/*Smart Admin Overrides*/
/* top right settings menu with cogwheel*/

nav ul li.active > a:before {
    content: "\f0d9";
    font-family: FontAwesome;
    display: block;
    height: 27px;
    line-height: normal;
    width: 5px;
    position: absolute;
    right: 1px;
    font-size: 20px;
    color: #eee;
}

.table-responsive {
    overflow-x: visible;
}
#SettingsDropdownMenu {
    left: -113px;
}

.dropdown-menu {
    min-width: 150px;
}

#header {
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
}

#main {
  min-height: 0px;
}

body {
  min-height: 100% !important;
  height: 100% !important;
  background: #e6e6e6;
}

html {
  height: 100% !important;
}

div#dashCtrl {
  height: 100%;
  overflow-y: auto;
}

.nav-tabs > li.active > a {
  background-color: #fafafa;
}

label > span.input-group-addon {
    box-sizing: border-box;
}

.jarviswidget > div {
  font-size: 12px;
}

label.search-input {
  display: inline-flex;
  margin-bottom: 0px;
}

span.input-group-addon {
  width: 15%;
}

#content {
  background: #e6e6e6;
  padding: 0px 0px;
  margin-top: 45px;
}

#main {
  background: #e6e6e6;
}

.page-title {
    margin-top: 0px;
  margin-bottom: 0px;
}

h1.page-title {
  padding-bottom: 10px;
  padding-top: 14px;
  background: #d8d8d8 !important;
  padding-left: 40px;
}

.smart-form .toggle i:before {
    background-color: #0264cd;
}

.gradient-green-sky {
    background: #072724 !important;
}

.largent-light-grey {
    color: #eee;
}

.light-grey-border {
    border: 1px solid #eee !important;
}
.grey-text {
    color: #424242 !important;
}
body {
    background-image: none;
    min-height: 1200px;
}

.no-wrap {
    white-space: nowrap;
}

.no-border-top {
    border-top: none !important;
}

.text-overflow {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.raleway-900 {
    font-weight: 900;
    font-size: 13px;
    font-family: 'Raleway' !important;
}

.companyDetailHeading {
    font-weight:800;
    border-left: 2px solid #0082da;
    padding-left: 20px;
    line-height: 20px;
    font-size: 26px;
}
.companyDetailHeading > small {
    letter-spacing: 3px;
}
.companyDetailListInfo {
    padding-left: 40px;
}

#CompanyDetailAdminTable div.chosen-button .chosen-container-single .chosen-single {
    background: #0264cd !important;
    color: white;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height:33px
}

.detail-background-cornsilk {
    background: cornsilk;
}
.company-detials-container div.jarviswidget > div {
  border: 1px solid #ccc;
  padding: 7px;
  background-color: #f5f5f5 !important;
  border-top:none;
}

.customer-detials {
  font-size: 30px;
  color: #686868;
  font-weight: 600;
}

section.company-detials-container {
  padding-top: 30px !important;
}

.company-detials-container .smart-form {
  padding-top: 3px;
}

.margin-sub-details .smart-form .toggle i {
    top: -10px !important;
}

.contact-info-container input[type="text"]{
    height: inherit;
}

.margin-sub-details td {
    padding: 5px;
}

.aircraft-fleet-container .table > tbody > tr > td {
    vertical-align: baseline;
}

  /*Buttons*/

.transaction-attachment-select {
    background:white;
    border:none;
}

.transaction-attachment-select select > option {
    background:white;
    border:none;
}

.transaction-clip-dropdown {
    background:none;
    border:none;
}

.transaction-clip-dropdown:hover {
    color: #1f6bbc;
}


.btn {
    line-height: 1.6;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 2px !important;
}

button.deleteCustomer {
  border-radius: 2px;
}

.btn-xs {
  padding: 3px 8px 3px;
}

.btn-grey {
  color: #333;
  background-color: #ddd;
  border-color: #999;
}

.btn-grey:hover {
  color: #333;
  color: white;
  background-color: #ccc;
  border-color: #999;
}

.btn-dark-grey {
    background-color: #999;
  color: white;
    border-color: #686868;
}

.btn-dark-grey:hover {
    background-color: #686868;
  color: white;
    border-color: #5a5a5a;
}

.btn-purple {
    color: #fff;
    background-color: #7e1ba6;
    border-color: #5c1578;
}

.btn-purple:hover {
    color: #fff;
    background-color: #6d1790;
    border-color: #5c137a;
}

.btn-light-blue {
    background: #a9e2fa;
    border: 1px solid #369ffa !important;
    color: #045dac;
}

.btn-light-blue:hover {
      background: #61caf6;
      border: solid 1px #0687f7 !important;
      color: #035093;
}

.btn-light-orange {
  background: linear-gradient(to bottom,#FEE7A3,#f0c14b);
  background: -webkit-linear-gradient(to bottom, #FEE7A3, #f0c14b);
  border-color: #D8B866 #D4AE50 #BB9538;
  color: #404040;
}

  .btn-light-orange:hover {
    background: linear-gradient(to bottom,#f0c14b,#FEE7A3);
    background: -webkit-linear-gradient(to bottom, #f0c14b, #FEE7A3);
    border-color: #D8B866 #D4AE50 #BB9538;
    color: #404040;
    text-decoration: none;
  }

   .btn-light-orange:active, .btn-lightorange.selected {
    background-color: #f0c14b;
    background-image: none;
    border-color: #BB9538;
    /*box-shadow: 0px 0px 0px #aaa;*/
    color: #404040;
  }


a.btn-circle-xs i.fa {
  vertical-align: middle;
}

a.btn-circle-xs,
.btn-circle-xs {
  border-radius: 50% !important;
  padding: 1px 5px;
  text-align: center;
}

.btn-circle-xs i.fa {
  vertical-align: inherit;
}

.btn-green {
  background: #00be00;
  color: white;
  border: 1px solid #08a308;
}

.btn-medium-green {
    color: #fff;
    background-color: #5aad5a;
    border: 1px solid #468e46;
}

.btn-medium-green:hover {
    color: #fff;
    background-color: #4f9f4f;
    border: 1px solid #468e46;
}

.btn-blue {
  background: #0264cd;
  border: 1px solid #0258b4;
  color: white;
}

  .btn-blue:hover {
    background: #0258b4;
    border: 1px solid #024c9b;
    color: white;
  }

.btn-dark-blue {
    color: #fff;
    background-color: #1b5fa6;
    border-color: #14467a;
}

.btn-primary {
    border: 1px solid #3172ab;
}

.btn-red {
  background: #ea1818;
  border: 1px solid #a70f0f;
  color: white;
}

.btn-red:hover {
  background: #dc1717;
  border: 1px solid #a70f0f;
  color: white;
}

.btn-danger {
    border:1px solid #d43f3a !important;
}


/* pagination */
.pagination > li > a {
    padding: 7px;
}
.pagination {
    margin: 0px;
}

nav ul.pagination li a {
  color: #428bca;
}

.pagination {
    border: 1px solid #ddd;
  border-radius: 2px;
}

.pagination.pagination-alt > li > a {
    margin-left: 0px;
    border-right: 1px solid #ddd;
}

.pagination.pagination-alt > li:first-child > a {
    padding-left: 0;
    padding: 6px 0px;
  border-right: 1px solid transparent;
}

.pagination.pagination-alt > li:last-child > a {
    padding: 6px 0px;
  border-right: none;
}

/* background */
.background-white {
  background-color: white;
  background: white;
}

.background-darkgray {
  background-color: #959595;
  background: #959595;
}

/*table styles*/


.table-border-top {
    border-top: 1px solid #bdbdbd;
}
.table-content-container {
  font-size: 12px;
}

div.sub-details-container {
  position: relative;
}

div.sub-details-container input[type="text"]  {
  height: 26px;
}

table > tr.table-text > td > span {
  vertical-align: sub;
}

tr.search-header th {
  background: white !important;
}

.table-content-container {
  padding-top: 30px;
}


html { background: none;}

.td-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 100px;
  max-width: 200px;
}

.td-truncate-100 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 100px;
  max-width: 100px;
}


.td-truncate-200 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 200px;
  max-width: 200px;
}



tfoot tr td div.float-right {
  margin-top: 6px;
}




.table-bordered {
    border: 1px solid #ccc;
}


.table > thead > tr.table-text > th {
  padding-top: 8px !important;
  padding-bottom: 8px;
}

.table > tfoot > tr > td {
  padding-top: 8px;
} 


tbody > tr > td > span {
  vertical-align: sub;
} 

thead > tr.table-headers > th > span {
  vertical-align: sub;
}



.table {
  margin-bottom: 0px;
  background-color: white;
}

.table .table > tbody > tr > td {
    padding: 5px;
}

.table-striped-collapsible>tbody>tr:nth-child(4n-1)>td, .table-striped-collapsible>tbody>tr:nth-child(4n-1)>th {
  background-color: #f9f9f9;
}

.table-striped-collapsible>tbody>tr:nth-child(2n)>td:nth-child(2), .table-striped-collapsible>tbody>tr:nth-child(2n)>th:nth-child(2) {
  background-color: #959595;
}

table > tfoot > tr {
    background:#fafafa;
}

.hover:hover {
    background: #eff5fd !important;
}

table > tbody > tr:hover {
  /*background: #eff5fd !important;*/
}

.table-text {
    color: #5a5a5a;
}

.border-bottom-center-line :after {
    position: absolute;
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}

.borderless-input {
    background-color: #fafafa !important;
    border-color: #ddd !important;
}

.chosen-container {
    min-width: 111px;
}

.largent-grey-bg {
	background: #333 !important;
}

.largent-navy-bg {
	background: #1b2936;
}

.black-font {
  color: black !important;
}

.blue-font {
  color: #1f6bbc  !important;
}

.green-font {
  color: #00be00 !important; 
}

.white-font {
  color: white !important;
}

.red-font {
  color: #e11919 !important;
}

.orange-font {
    color: #ed8d33 !important;
}

.green-font {
    color: #468e46 !important;
}



.default-grey-font {
  color: #333 !important;
}

.light-grey-font {
    color: #999 !important;
    opacity: .7;
}

.light-green-background {
    background: #74d074 !important;
}

h1 {
  font-size: 20px;
}

.cursor-pointer {
    cursor: pointer !important; 
}

/*.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #757575 !important;
}*/


.dropdown, .dropup {
    position: relative;
}

.ui-datepicker-prev > span.ui-icon,
.ui-datepicker-next > span.ui-icon {
  width: auto;
  cursor: pointer;
}


/* tabbed panel */
.nav-tabs > li.active > a {
    box-shadow: 0 -2px 0 #0264cd;
}

.nav-tabs>li {
  cursor: pointer;
}





/* header */

#logo {
    margin-top: 9px !important;
}

#largent-sparks {
    padding-left:25px;
}
#sparks li {
    padding: 1px 10px;
}

/* nav left panel */
nav ul li a {
    font-size:13px;
}

.page-footer {
	border-top: 1px solid #1e2026;
    z-index: 3;
}

nav>ul>li>ul>li>a {
    font-weight: 900;
    font-size: 12px;
}

/* floats */
.float-right {
    float:right !important;
}
.float-left {
    float:left !important;
}

/* margins */
.margin-top-sm {
    margin-top: 5px;
}

.margin-top-none {
    margin-top: 0px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
}


.margin-left {
    margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-right-sm {
  margin-right: 5px;
}

.margin-right-md {
  margin-right: 15px;
}

.margin-right-lg {
  margin-right: 20px;
}

.margin-xs-left { 
    margin-left: 2px;
}
.margin-xs-right { 
    margin-right: 2px;
}
.margin-xs-top {
    margin-top:2px;
}
/*Padding*/
.container-bottom-padding {
    padding-bottom: 40px;
}
.padding-5 {
    padding: 5px;
}
.padding-15 {
    padding: 15px;
}
.padding-left-small {
    padding-left: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.padding-left-none {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-30 {
    padding-left:30px;
}

.padding-right-none {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important
}
.padding-top-none {
  padding-top: 0px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.vertical-align-sub {
    vertical-align: sub !important;
}

.padding-top-20 {
    padding-top:20px;
}

.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}

.padding-bottom-none {
  padding-bottom: 0px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}



.nav-tabs > li > a {
  margin-right: 0px;
}

.nav-tabs > li > a {
    color: #616161 !important;
    border: 1px solid #cccccc;
        border-bottom: none;
    background: whitesmoke;
}

.nav-tabs > li.active > a {
  background: white;
}

.table-text div.smart-form {
  padding-right: 25px;
  top: 0px;
}

   .smart-form .toggle i {
    background: #fde8e8;
    border: 1px solid #e11919;
}
   

  i:after [data-swchoff-text="OFF"] {
    background: #fde8e8;
    border: 1px solid #e11919;
  }

  .smart-form .toggle input:checked+i {
    border-color: #3276B1;
    background: #edfde8;
}

.modal-content {
  min-height: 120px;
}

#accordian-directional-arrow {
  color: #616161;
  cursor: pointer;
  font-size: 16px;
  padding-right: 10px;
}

div.ui-accordion-header {
  padding-left: 10px;
  border-radius: 1px !important;
  font-weight: 600;
      padding-top: 7px;
    padding-bottom: 7px;
}

.dark-blue-background {
   background: #1e5687;
   color: white !important
}

.dark-blue-background a {
   color: white !important
}

.light-grey-background {
  background: #f9f9f9;
  color: #616161 !important;
}

.light-grey-background a {
   color: #616161 !important;
}

.distribution-editor header div i.fa-pencil {
    vertical-align: top;
}

div.sortgroup {
  margin-bottom: 15px;
}

.sortgroup input[type="text"] {
    height: 22px;
}

#margin-name {
  vertical-align: sub;
  margin-right: 20px;
}

#accordian-directional-arrow {
  font-size: 20px;
  vertical-align: sub;
}

.sortgroup input {
  width: 80px;
  border: 1px solid #ccc;
  color: #5aad5a;
  font-weight: 600;
  font-style: italic;
  padding-left: 4px;
}

.margin-distrib-container i.fa-arrow-circle-right {
  vertical-align: inherit;
  font-size: 14px;
}

.add-tier {
    vertical-align: bottom;
}

.aircraft-fleet-container input.form-control {
    padding: 6px 2px;
}



/*adhoc*/

#adhocmessages li {
    font-size: 14px;
    list-style: none;
    text-align: center;
}

#adhocrequirementmessage {
    position:absolute; 
    z-index: 5;
    font-size: 18px;
    font-weight:600;
    text-decoration: underline;
    text-transform: capitalize;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */  
    background: black;
    opacity: 0.5;
    width:100%;
    height: 230px;
}

.blur-5 {
    -webkit-filter: blur(2px);
}

#adHocRequirement {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(10, 62, 107, 0.65) ,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */  
    width:100%;
    position: absolute;
    z-index: 1;
    height:190px;
}

/* Customer Detail */

#ContactTable > tbody > tr > td {
height:50px;
}
#ContactTable > tbody > tr > td > span {
    position: relative;    
    top:6px;
}

#CompanyTable > tbody > tr > td > span {
    position: relative;
    top:6px;
}
@media (max-width: 992px) {
    #CompanyTable > tbody > tr > td > span {
    position: relative;
    top:0px !important;
    }
}

a >.chosen-single {
    height: 33px !important;
}


.chosen-container-single .chosen-single span {
    padding: 4px;
}

.smart-form .toggle input:checked + i.active-toggle:before {
    right:49px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #fb5858 !important;
}

.form-control-height-sm {
    height: 33px !important;
    margin-bottom: 10px;
}


/* Saving/Loading Notifications */
div.saving-notification-background {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
}

div.saving-notification {
  position: absolute;
  z-index: 999;
  text-align: center;
  top: 45%;
  left: 0;
  right: 0;
  color: white;
}


/* 
    Smart-Alert Notifications
*/
.SmallBox .foto {
    font-size: 40px;
    
}
.ui-notification > .message {
    padding-left: 60px;
}


#left-panel nav ul li .active {
    background: #336b66;
    color: white;
    font-weight: 600;
}



/*
    Airport Manager
*/

.offset-top-5 {
    top: 5px;
    position: relative;
}

#AirportTable > tbody > tr > td {
    height:50px;
}

#ContactTable > tbody > tr > td {
height:50px;
}
#ContactTable > tbody > tr > td > span {
    position: relative;    
    top:6px;
}

.airport-icon-green {
    color:#47cc4a;
}

.airport-manager-icao {
    position: relative;
    top:-5px;
}

/*
    Vendor Management
*/


.row-selected {
    background-color: rgba(255, 0, 0, 0.27) !important;
    text-decoration: line-through;
    border-left: 2px red solid;
}

.row-not-selected {

}
/* excluded class for vendor management toggles */
.smart-form .toggle input:checked+i.excluded:before {
    right: 58px !important;
}

#vendor-management > tbody > tr:hover {

}

/*
    Account Manager
*/
.border-left-fix {
    border-left: 1px #ccc solid !important;

}


.state-required {
    
}

.modal-asterisk {
    position: relative;
    left: -4px;
    top: 8px;

}

/*
    detail section  
*/
.tall-widget-header {
    height: 44px !important;
}



.position-top-5 {
    /*small override for the X on the widget header*/
    position: relative;
    top: 5px;
}

/*
    Analysis
*/
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
    Task Scheduler
*/

#task-calendar {
    padding: 0px !important;
}
.fc-left {
    display: none;
}
.fc-center {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.fc-right {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.fc-right > button {
    display: none;
}

/*
    Drop Zone
*/

.dropzone {
    min-height: 20px !important;
    padding: 0px;
}

.dz-message {
    height: 0px;
}
@media (max-width: 979px) {
    .dropzone .dz-default.dz-message {
        width: 300px;
        height: 30px;
        margin: 0px;

    }
}

/*
    Calendar
*/
span.delete-common-event {
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
}

span.delete-common-event a {
  color: white;
  cursor: pointer;
}

    span.delete-common-event i.fa.fa-times {
      font-size: 10px !important;
    }

    /* Extra Small Devices, Phones */
@media screen and (min-width : 0px) {
    .client-menu {
        padding: 7px !important;
    }


}


/* price margin */

.note-editor.note-frame .note-editing-area .note-editable {
    height: 200px;
}

table.price-margin-tiers-container {
  border-bottom: 1px solid lightgray;
}

table.price-margin-tiers-container tr:first-child td div:first-child {
  border-bottom: 1px solid lightgray;
}

table.price-margin-tiers-container tr td > div {
  border-right: 1px solid lightgray;
  padding-top: 8px;
  padding-left: 5px;
  padding-bottom: 2px;
  height: 35px;
  vertical-align: middle;
}

.tier-border {
    padding: 10px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.price-margin-tiers-container {
    margin-bottom: 0px;
}

table.price-margin-tiers-container tr td > .input-padding {
    padding-top: 5px !important;
}


.note-editor.note-frame .note-editing-area .note-editable {
    background: #f2f7fb  !important;
}

.margin-distrib-container {
    padding-top: 30px;
    padding-bottom: 100px;
}



/* summer note overrides */
.note-editor.note-frame {
    padding: 0px;
}


/*
  HighCharts overrides
*/
.highcharts-container {
    width:100% !important;
    height:100% !important;
}

     /* Small Devices, Tablets */
@media screen and (min-width: 768px) {

  .modal-dialog {
    width: 780px;
  }
	.modal-sm {
		width: 300px;
	}


  /*dashboard*/
  #customer-rankings tr, #customer-rankings td, #customer-rankings th {
    border: 1px solid #ddd !important;
  }

  .bar-holder p {
    margin: 0px;
  }

  .progress-green {
    background: #43a047;
  }

  .progress-blue {
    background: #1565c0;
  }

  .progress-light-blue {
    background: #2196f3;
  }


  .no-padding-top-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .has-fbo > tbody > tr:nth-child(odd) {
    background: red !important;
  }

  .todo > li > p, .todo > li > p > span, .todo > li > p > strong, .todo-group-title > small {
    color: grey !important;
  }

  .todo > li > p {
    border-left-color: red !important;
  }

    .todo > li > p > a {
      color: blue;
    }


  .smart-form .checkbox input:checked + i:after, .smart-form .radio input:checked + i:after {
    color: black;
  }



  /* Bootstrap Badges */
  .badge {
    color: white;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* Nav Menu*/
  nav ul li {
    cursor: pointer;
  }

}  

  /* Medium Devices, Desktops */
@media screen and (min-width : 800px) and (min-width : 880px) {
    .client-menu {
        padding: 15px !important;
    }
}

    /* Large Devices, Wide Screens */
@media screen and (min-width : 1200px) {


}


/* clent-side triggered css */

.client-header {
    background: #d8d8d8 !important;
    border-bottom: 1px solid #bfbfbf;
}

/* ng-class client nav */

.client-nav li {
    border-bottom: 1px #bfbfbf solid;
    background: #fafafa;
    height: 56px;
    padding-top: 0px;
    border-right: 1px solid #bfbfbf;
}

.client-nav li a {
    color: #404040;
    font-weight: 600;
    padding: 20px
}
.client-nav li a:hover {
    background: cornsilk !important;
    color: #404040;
}

.client-active {
    border-left: 3px solid #1f7fcd;
}

/* client side dashboard overrides */
.client-breadcrumb-background {
    background: none !important;
    padding-top: 24px;
}

.client-menu {
    width: 42px;
    height: 18px !important;
    position: relative;
    top: -11px;
    left: -10px;

}


/* sort for transaction.css */

#tblTransactions > tbody > tr > td > span {
    position: relative;
    top:6px;
}

.invoicestatus {
  padding: 5px 7px 5px 7px;
  border-radius: 5px 0px 5px !important;
}

.Active {
    background: #739e73;
    color:white;
}

.Inactive {
    background: red;
    color:white;
}

.transactionheaderrow .fa-stack {
  height: .5em;
  line-height: .5em;
  width: .5em;
  vertical-align: sub;
  color: #999;
}

th span.not-sorted {
  display: inline-block;
}

th span.sorted.descending,
th span.sorted.ascending {
  display: none;
}

th.st-sort-ascent span.not-sorted,
th.st-sort-ascent span.sorted.descending {
  display: none;
}

th.st-sort-ascent span.sorted.ascending {
  display: inline-block;
  margin-right: -5px;
  color: #333;
}

th.st-sort-descent span.not-sorted,
th.st-sort-descent span.sorted.ascending {
  display: none;
}

th.st-sort-descent span.sorted.descending {
  display: inline-block;
  margin-right: -5px;
   color: #333;
}

thead > tr > th.st-sort-descent,
thead > tr > th.st-sort-ascent {
  background: #d0d0d0;
}


/* ^^ LARGENT login-specific LARGENT ^^ */
.largent-login {
    background-image: url(../img/parallax01.jpg) !important;
    /*background: #1b2936 !important;*/
    margin-top:0px !important;
    padding-top:45px !important;
    height:100% !important;
}
/* ^^ LARGENT login-specific LARGENT ^^ */