<option value="" selected="selected">--Select One--</option>
<option value="Corporate">Corporate</option>
<option value="Charter Carrier">Charter Carrier</option>
<option value="Government">Government</option>
<option value="Management (Airline)">Management (Airline)</option>
<option value="Management (Non-Airline)">Management (Non-Airline)</option>
<option value="Military (NATO)">Military (NATO)</option>
<option value="Military (Non-NATO)">Military (Non-NATO)</option>
<option value="Personal/Non Business">Personal/Non Business</option>
<option value="Scheduled Carrier">Scheduled Carrier</option>