GO
/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_FuelOrderPricing]    Script Date: 11/18/2016 4:34:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_InsertUpdate_FuelOrderPricing]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_FuelOrderPricing]
-- Date Generated: Monday, June 20, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_FuelOrderPricing]
	@Id int,
	@Vendor nvarchar(max),
	@IATA nvarchar(4),
	@ICAO nvarchar(4),
	@FBOName nvarchar(max),
	@Min int,
	@Max int,
	@TotalWithTax decimal(18, 5),
	@Expires datetime2 = null,
	@Product nvarchar(max) = null,
	@Notes nvarchar(max) = null,
	@AdminClientID int,
	@SupplierID int,
	@FuelOrderID int = null,
	@EffectiveDate datetime2 = null
AS

SET NOCOUNT ON

IF EXISTS(SELECT [Id] FROM [dbo].[FuelOrderPricings] WHERE [Id] = @Id)
BEGIN
	UPDATE [dbo].[FuelOrderPricings] SET
		[Vendor] = @Vendor,
		[IATA] = @IATA,
		[ICAO] = @ICAO,
		[FBOName] = @FBOName,
		[Min] = @Min,
		[Max] = @Max,
		[TotalWithTax] = @TotalWithTax,
		[Expires] = @Expires,
		[Product] = @Product,
		[Notes] = @Notes,
		[AdminClientID] = @AdminClientID,
		[SupplierID] = @SupplierID,
		FuelOrderID = @FuelOrderID,
		EffectiveDate = @EffectiveDate
	WHERE
		[Id] = @Id
END
ELSE
BEGIN
	INSERT INTO [dbo].[FuelOrderPricings] (
		[Vendor],
		[IATA],
		[ICAO],
		[FBOName],
		[Min],
		[Max],
		[TotalWithTax],
		[Expires],
		[Product],
		[Notes],
		[AdminClientID],
		[SupplierID],
		FuelOrderID,
		EffectiveDate
	) VALUES (
		@Vendor,
		@IATA,
		@ICAO,
		@FBOName,
		@Min,
		@Max,
		@TotalWithTax,
		@Expires,
		@Product,
		@Notes,
		@AdminClientID,
		@SupplierID,
		@FuelOrderID,
		@EffectiveDate
	)
SET @Id = @@IDENTITY
END


SELECT @Id AS Id 

--endregion

