GO
/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_Registration]    Script Date: 5/24/2017 1:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_InsertUpdate_Registration]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_Registration]
-- Date Generated: Friday, April 15, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_Registration]
	@Id int,
	@FirstName nvarchar(50) = null,
	@LastName nvarchar(50) = null,
	@Company nvarchar(Max) = '',
	@Username nvarchar(50) = null,
	@Email nvarchar(50) = null,
	@Password nvarchar(50) = null
	--@DateAdded datetime2 = getutcdate
AS

SET NOCOUNT ON
--IF @DateAdded = null
--	SET @DateAdded = getutcdate()

--IF EXISTS(SELECT Username FROM [dbo].[Registration] WHERE Username = @Username)
--	BEGIN
--		SELECT 1 AS IsDuplicateUsername
--	END
--ELSE
BEGIN
	IF EXISTS(SELECT [Id] FROM [dbo].[Registration] WHERE [Id] = @Id)
	BEGIN
		UPDATE [dbo].[Registration] SET
			[FirstName] = @FirstName,
			[LastName] = @LastName,
			[Company] = @Company,
			[Username] = @Username,
			[Email] = @Email,
			[Password] = @Password
			--[DateAdded] = @DateAdded
		WHERE
			[Id] = @Id
	END
	ELSE
	BEGIN
		INSERT INTO [dbo].[Registration] (
			[FirstName],
			[LastName],
			[Company],
			[Username],
			[Email],
			[Password]
			--[DateAdded]
		) VALUES (
			@FirstName,
			@LastName,
			@Company,
			@Username,
			@Email,
			@Password
			--@DateAdded
		)
		set @Id = @@IDENTITY
	END


	select @Id as Id
END

--endregion

