GO
/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_Contact]    Script Date: 09/15/2016 14:46:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_InsertUpdate_Contact]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_Contact]
-- Date Generated: Tuesday, June 7, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_Contact]
	@Id int,
	@ContactType nvarchar(50),
	@AdminClientID int,
	@CustClientID int,
	@Name nvarchar(50),
	@Title nvarchar(50) = null,
	@Phone nvarchar(50) = null,
	@Email nvarchar(50) = null,
	@Distribute bit
	--,@DateAdded datetime2(7) = null
AS

SET NOCOUNT ON

IF EXISTS(SELECT [Id] FROM [dbo].[Contacts] WHERE [Id] = @Id)
BEGIN
	UPDATE [dbo].[Contacts] SET
		[ContactType] = @ContactType,
		[AdminClientID] = @AdminClientID,
		[CustClientID] = @CustClientID,
		[Name] = @Name,
		[Title] = @Title,
		[Phone] = @Phone,
		[Email] = @Email,
		Distribute = @Distribute
		--,DateAdded = @DateAdded
	WHERE
		[Id] = @Id
END
ELSE
BEGIN
	INSERT INTO [dbo].[Contacts] (
		[ContactType],
		[AdminClientID],
		[CustClientID],
		[Name],
		[Title],
		--[CompanyName],
		[Phone],
		[Email],
		Distribute
	) VALUES (
		@ContactType,
		@AdminClientID,
		@CustClientID,
		@Name,
		@Title,
		--@CompanyName,
		@Phone,
		@Email,
		@Distribute
	)
SET @Id = @@IDENTITY
END


SELECT @Id AS Id 

--endregion

