GO
/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_Supplier]    Script Date: 7/13/2017 12:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_InsertUpdate_Supplier]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_Supplier]
-- Date Generated: Monday, June 20, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_Supplier]
	@Id int,
	@SupplierEmail varchar(255)='',
	@SupplierPhone varchar(50)=''
AS

SET NOCOUNT ON

IF EXISTS(SELECT [Id] FROM [dbo].[Suppliers] WHERE [Id] = @Id)
BEGIN
	UPDATE [dbo].[Suppliers] SET
		SupplierEmail = @SupplierEmail,
		SupplierPhone = @SupplierPhone
	WHERE
		[Id] = @Id
END
--ELSE
--BEGIN
--	INSERT INTO [dbo].[Suppliers] (
--		[SupplierName]
--	) VALUES (
--		@SupplierName
--	)
--SET @Id = @@IDENTITY
--END


SELECT @Id AS Id 

--endregion

