GO
/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_User]    Script Date: 5/24/2017 2:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_InsertUpdate_User]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_User]
-- Date Generated: Thursday, April 21, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_User]
	@Id int,
	@RegistrationID int,
	@ClientID int,
	@IsActive bit
	--@DateAdded datetime2 = null
AS

SET NOCOUNT ON
--IF @DateAdded = null
--	SET @DateAdded = getutcdate()

IF EXISTS(SELECT * FROM [dbo].[Users] WHERE [Id] = @Id and [ClientID] = @ClientID)
BEGIN
	UPDATE [dbo].[Users] SET
		[RegistrationID] = @RegistrationID,
		[ClientID] = @ClientID,
		[IsActive] = @IsActive
		--[DateAdded] = @DateAdded
	WHERE
		[Id] = @Id
END
ELSE
BEGIN
	INSERT INTO [dbo].[Users] (
		[RegistrationID],
		[ClientID],
		[IsActive]
		--[DateAdded]
	) VALUES (
		@RegistrationID,
		@ClientID,
		@IsActive
		--@DateAdded
	)
	set @Id = @@IDENTITY
END


select @Id as Id

--endregion

