GO
/****** Object:  StoredProcedure [dbo].[up_Select_ContactsByAndAdminClientID]    Script Date: 6/14/2017 3:56:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_Select_ContactsByAndAdminClientID]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_ContactsByAndAdminClientID]
-- Date Generated: Tuesday, June 7, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_ContactsByAndAdminClientID]--2
	@AdminClientID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT c.[Id]
      ,c.[ContactType]
      ,c.[AdminClientID]
      ,c.[CustClientID]
      ,c.[FirstName]
      ,c.[LastName]
      ,c.[Title]
      ,c.[MobilePhone]
      ,c.[Phone]
      ,c.[Email]
      ,c.[DateAdded]
      ,c.[Distribute]
	  ,c.Note
	  ,u.CompanyName as CompanyName
	  --,u.ClientID
	  --,u.RegistrationID
	  ,r.Username
	  ,r.[Password]
	  ,STUFF((SELECT ', ' + A.TailNumber FROM Aircrafts A
		Where A.AdminClientID = @AdminClientID AND A.CustClientID = c.CustClientID FOR XML PATH('')),1,1,'') As TailNumbers
	  ,STUFF((SELECT ', ' + AD.Make + ' ' + AD.Model FROM Aircrafts A INNER JOIN AircraftData AD ON A.MakeModelID = AD.AircraftID
		Where A.AdminClientID = @AdminClientID AND A.CustClientID = c.CustClientID FOR XML PATH('')),1,1,'') As AircraftType
  FROM [Contacts] c
  
  --Sub query to get the first active, unique registration id for each client
  left join (select cl.Name as CompanyName, u.ClientID, min(u.RegistrationID) as RegistrationID
            from Clients cl
            left join Users u on u.ClientID = cl.Id
            where u.IsActive = 1
            group by cl.Name, u.ClientID) u on u.ClientID = c.CustClientID
  
  --Grab the registration record associated with the first active registration ID found for each client
  left join Registration r on r.id = u.RegistrationID
  WHERE
	c.AdminClientID = @AdminClientID

	order by c.LastName
--endregion

