GO
/****** Object:  StoredProcedure [dbo].[up_Select_ContactsByAndCustClientID]    Script Date: 09/15/2016 15:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--region [dbo].[up_Select_ContactsByAndCustClientID]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_ContactsByAndCustClientID]
-- Date Generated: Tuesday, June 7, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_ContactsByAndCustClientID]
	@CustClientID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	   co.[Id]
      ,co.[ContactType]
      ,co.[AdminClientID]
      ,co.[CustClientID]
      ,co.[Name]
      ,co.[Title]
      ,co.Distribute
      ,cl.Name as [CompanyName]
      ,co.[Phone]
      ,co.[Email]
      ,co.[DateAdded]
  FROM [FuelManagement].[dbo].[Contacts] co
  inner join Clients cl on cl.Id = co.CustClientID
WHERE
	co.[CustClientID] = @CustClientID

--endregion

