GO
/****** Object:  StoredProcedure [dbo].[up_Select_SupplierFuelsPricesByAndSupplierID]    Script Date: 11/18/2016 4:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--region [dbo].[up_Select_SupplierFuelsPricesByAndSupplierID]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_SupplierFuelsPricesByAndSupplierID]
-- Date Generated: Monday, June 20, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_SupplierFuelsPricesByAndSupplierID]
	@SupplierID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[Id],
	[Vendor],
	[IATA],
	[ICAO],
	[FBOName],
	[Min],
	[Max],
	[TotalWithTax],
	[Expires],
	[Product],
	[Notes],
	[AdminClientID],
	[SupplierID],
    [DateUploaded],
	EffectiveDate
FROM
	[dbo].[SupplierFuelsPrices]
WHERE
	[SupplierID] = @SupplierID

--endregion

