GO
/****** Object:  StoredProcedure [dbo].[up_Select_FuelOrder]    Script Date: 11/10/2016 4:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_Select_FuelOrder]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_FuelOrder]
-- Date Generated: Monday, June 20, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_FuelOrder]
	@Id int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	f.[Id],
	f.[AdminClientID],
	f.[CustClientID],
	f.[OrderedByUserID],
	f.[AircraftID],
	a.TailNumber,
	f.[ICAO],
	f.[FBO],
	f.[DateRequested],
	f.[AdminStatus],
	f.[CustStatus],
	f.[IsArchived],
	f.[IsDirectlyEntered],
	f.[QuotedPPG],
	f.[InvoicedPPG],
	f.[QuotedVolume],
	f.[InvoicedVolume],
	f.[FuelingDateTime],
	f.[DateAdded],
	f.WholesaleQuoted,
	f.WholesaleInvoiced,
	f.BasePPG,
	f.NoFuel,
	f.TripID,
	f.LegNumber,
	f.CertificateType,
	f.FuelOn,
	f.PostedRetail,
	f.RampFee,
	f.RampFeeWaivedAt,
	f.RequestedBy,
	f.InvoiceStatus,
	ISNULL(AFHD.HandlerTelephone, '') AS FBOPhone
FROM
	[dbo].[FuelOrders] f
inner join Aircrafts a on f.AircraftID = a.Id
inner join AcukwikAirports AA ON AA.ICAO = f.ICAO
left join AcukwikFBOHandlerDetail AFHD ON AFHD.Airport_ID = AA.Airport_ID 
											AND dbo.fn_FBOs_Equivalent(AFHD.HandlerLongName, f.FBO) = 1
WHERE
	f.[Id] = @Id

--endregion

