GO
/****** Object:  StoredProcedure [dbo].[up_Select_FuelOrdersByAndCustClientID]    Script Date: 6/28/2017 12:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--region [dbo].[up_Select_FuelOrdersByAndCustClientID]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_FuelOrdersByAndCustClientID]
-- Date Generated: Monday, June 20, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_FuelOrdersByAndCustClientID]--14323
	@CustClientID int,
	@StartDate datetime = null,
	@EndDate datetime = null,
	@Domain varchar(50) = ''
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT f.*, 
	   case when isnull(f.InvoicedPPG, 0) > 0 then f.InvoicedPPG else isnull(f.QuotedPPG, 0) end as PPG,
	   c.Name,
	   case when isnull(i.TotalAttachments, 0) = 0 then 0 else 1 end as HasAttachments
FROM
	[dbo].[FuelOrders] f
--inner join Aircrafts a on f.AircraftID = a.Id
INNER JOIN ApplicationDomain AD ON 
	((AD.Domain = @Domain AND f.AdminClientID = AD.AdminClientID)
	)
inner join Clients c on f.CustClientID = c.Id
left join (select COUNT(foi.FuelOrderID) as TotalAttachments, foi.FuelOrderID from FuelOrderInvoices foi group by foi.FuelOrderID) i on i.FuelOrderID = f.Id
WHERE
	f.[CustClientID] = @CustClientID
	and (@StartDate is null OR @StartDate <= f.FuelingDateTime)
	and (@EndDate is null OR DATEADD(d, 1, @EndDate) > f.FuelingDateTime)
order by f.FuelingDateTime desc

--endregion

