GO
/****** Object:  StoredProcedure [dbo].[up_Select_CustomerDetailsByAndAdminClientID]    Script Date: 6/14/2017 11:05:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_Select_CustomerDetailsByAndClientID]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_CustomerDetailsByAndClientID]
-- Date Generated: Tuesday, June 7, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_CustomerDetailsByAndAdminClientID]
	@AdminClientID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
cd.[Id],
cd.[AdminClientID],
cd.[CustClientID],
cd.[Name],
[Phone],
[Email],
[City],
[Country],
[BaseICAO],
isnull([IsActive], 0) as IsActive,
cd.[Note],
cd.[DateAdded],
cpm.Id as CustomerPriceMarginID,
cpm.PriceMarginID as MarginSetting,
pm.PrimaryMargin as MarginResult,
ac.FleetSize,
co.FirstName,
co.LastName,
isnull(co.FirstName, '') + ' ' + ISNULL(co.LastName, '') as PrimaryContact,
STUFF((SELECT ', ' + A.TailNumber FROM Aircrafts A
Where A.AdminClientID = @AdminClientID AND A.CustClientID = c.Id FOR XML PATH('')),1,1,'') As TailNumbers,
STUFF((SELECT ', ' + AD.Make + ' ' + AD.Model FROM Aircrafts A INNER JOIN AircraftData AD ON A.MakeModelID = AD.AircraftID
Where A.AdminClientID = @AdminClientID AND A.CustClientID = c.Id FOR XML PATH('')),1,1,'') As AircraftType

FROM
[dbo].[CustomerDetails] cd
inner join Clients c on c.Id = cd.CustClientId
left join CustomerPriceMargins cpm on cpm.CustClientID = cd.CustClientID
--inner join PriceMargins pm on cpm.PriceMarginID = pm.Id

--Subquery to get price margin results
left join (select pmt.PriceMarginID, MAX(pmt.Margin) as HighestMargin, pm.PrimaryMargin
from PriceMargins pm
left join PriceMarginTiers pmt on pmt.PriceMarginID = pm.Id
group by pmt.PriceMarginID, pm.PrimaryMargin
--exec up_Select_CustomerDetailsByAndAdminClientID 2
) pm on pm.PriceMarginID = cpm.PriceMarginID

--Subquery to get fleet size
left join (select COUNT(a.CustClientID) as FleetSize, a.CustClientID
from Aircrafts a
group by a.CustClientID) ac on ac.CustClientID = cd.CustClientID

--Subquery for Primary Contact
left join (select c.FirstName, c.LastName, c.[CustClientID]
from Contacts c where c.[ContactType] = 'Primary'
group by c.CustClientID, c.FirstName, c.LastName) co on co.[CustClientID] = cd.CustClientID

WHERE
cd.[AdminClientID] = @AdminClientID and c.ClientType > 1

order by cd.Name