GO
/****** Object:  StoredProcedure [dbo].[up_Select_CustomerDetail]    Script Date: 6/21/2017 10:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_Select_CustomerDetail]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_CustomerDetail]
-- Date Generated: Tuesday, June 7, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_CustomerDetail]
	@Id int,
	@AdminClientID int = 0,
	@Domain varchar(50) = ''
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	   [Id]
      ,AD.[AdminClientID]
      ,[CustClientID]
      ,[Name]
      ,[Phone]
      ,[Email]
      ,[City]
      ,[Country]
      ,[BaseICAO]
      ,[IsActive]
      ,[Note]
      ,[DateAdded]
      ,[ParentName]
      ,[CertificateType]
      ,[Address1]
      ,[Address2]
      ,[State]
      ,[ZipCode],
	  ISNULL(IsDemoMode, 0)
FROM
	[dbo].[CustomerDetails] CD
	INNER JOIN ApplicationDomain AD ON (
	(@Domain = '' AND AD.AdminClientID = @AdminClientID AND AD.AdminClientID = CD.AdminClientID) 
	OR 
	(AD.Domain = @Domain AND @AdminClientID = 0 AND CD.AdminClientID = AD.AdminClientID)
	)
WHERE
	[CustClientID] = @Id

--endregion

