
/****** Object:  StoredProcedure [dbo].[up_Select_AircraftsByAndCustClientID]    Script Date: 05/23/2017 15:35:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--region [dbo].[up_Select_AircraftsByAndClientID]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Select_AircraftsByAndClientID]
-- Date Generated: Thursday, May 26, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Select_AircraftsByAndCustClientID]
	@CustClientID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	    a.[Id],
		a.[MakeModelID],
		a.[AdminClientID],
		a.[CustClientID],
		a.[TailNumber],
		a.[AccountNumber],
		a.[CardNumber],
		a.[IsMarginEnabled],
		a.[Margin],
		ad.Make,
		ad.Model,
		ad.Size

FROM
	[dbo].[Aircrafts] a
    left join AircraftData ad on a.MakeModelID = ad.AircraftID
WHERE
	a.[CustClientID] = @CustClientID

--endregion

