GO
/****** Object:  StoredProcedure [dbo].[up_Update_SupplierFuelsPrice]    Script Date: 11/18/2016 4:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_Update_SupplierFuelsPrice]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Update_SupplierFuelsPrice]
-- Date Generated: Monday, June 20, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Update_SupplierFuelsPrice]
	@Id int,
	@Vendor nvarchar(max),
	@IATA nvarchar(4),
	@ICAO nvarchar(4),
	@FBOName nvarchar(max),
	@Min int,
	@Max int,
	@TotalWithTax decimal(18, 5),
	@Expires datetime2,
	@Product nvarchar(max),
	@Notes nvarchar(max),
	@AdminClientId int,
	@SupplierId int,
	@EffectiveDate datetime2 = null
AS

SET NOCOUNT ON

UPDATE [dbo].[SupplierFuelsPrices] SET
	[Vendor] = @Vendor,
	[IATA] = @IATA,
	[ICAO] = @ICAO,
	[FBOName] = @FBOName,
	[Min] = @Min,
	[Max] = @Max,
	[TotalWithTax] = @TotalWithTax,
	[Expires] = @Expires,
	[Product] = @Product,
	[Notes] = @Notes,
	[AdminClientId] = @AdminClientId,
	[SupplierId] = @SupplierId,
	EffectiveDate = @EffectiveDate
WHERE
	[Id] = @Id

--endregion

