USE [FuelManagement]
GO
/****** Object:  StoredProcedure [dbo].[up_Update_FuelOrderPricing]    Script Date: 11/18/2016 4:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--region [dbo].[up_Update_FuelOrderPricing]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Marty using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Update_FuelOrderPricing]
-- Date Generated: Monday, June 20, 2016
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Update_FuelOrderPricing]
	@Id int,
	@Vendor nvarchar(max),
	@IATA nvarchar(4),
	@ICAO nvarchar(4),
	@FBOName nvarchar(max),
	@Min int,
	@Max int,
	@TotalWithTax decimal(18, 5),
	@Expires datetime2,
	@Product nvarchar(max),
	@Notes nvarchar(max),
	@AdminClientID int,
	@SupplierID int,
	@FuelOrderID int = null,
	@EffectiveDate datetime2 = null
AS

SET NOCOUNT ON

UPDATE [dbo].[FuelOrderPricings] SET
	[Vendor] = @Vendor,
	[IATA] = @IATA,
	[ICAO] = @ICAO,
	[FBOName] = @FBOName,
	[Min] = @Min,
	[Max] = @Max,
	[TotalWithTax] = @TotalWithTax,
	[Expires] = @Expires,
	[Product] = @Product,
	[Notes] = @Notes,
	[AdminClientID] = @AdminClientID,
	[SupplierID] = @SupplierID,
	FuelOrderID = @FuelOrderID,
	EffectiveDate = @EffectiveDate
WHERE
	[Id] = @Id

--endregion

