<div>
    <div class="row padding-left-none padding-right-none">
        <h1 class="page-title txt-color-blueDark blue-font">
            <!--<a class="btn btn-primary" ng-click="customerDetails.back()"><i class="fa fa-arrow-left"></i> Back</a>-->
            ANALYSIS <span class="default-grey-font">> USAGE DATA </span>
        </h1>
    </div>
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-6 col-sm-4 col-lg-6 col-lg-2 no-padding">
                    <label class="green-font pull-left font-500 padding-top-10 padding-right-5">Start Date</label>
                    <div class="inline-block start-date-popup">
                        <p class="input-group">
                            <input uib-datepicker-popup="{{analysis.filter.Format}}" type="text" class="form-control date-picker"
                                   ng-model="analysis.filter.StartDateFilter" clearable="false"
                                   ng-change="analysis.evaluateStartDate()"
                                   is-open="analysis.filter.IsStartDateOpened"
                                   datepicker-options="analysis.dateConfigs.StartDateOptionsConfig" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="analysis.filter.IsStartDateOpened = !analysis.filter.IsStartDateOpened">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-6 col-lg-2 no-padding">
                    <label class="red-font pull-left font-500 padding-left-5 padding-top-10 padding-right-5">End Date</label>
                    <div class="inline-block end-date-popup">
                        <p class="input-group">
                            <input uib-datepicker-popup="{{analysis.filter.Format}}" type="text" class="form-control date-picker"
                                   ng-model="analysis.filter.EndDateFilter" clearable="false"
                                   ng-change="analysis.evaluateEndDate()"
                                   is-open="analysis.filter.IsEndDateOpened"
                                   datepicker-options="analysis.dateConfigs.EndDateOptionsConfig" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="analysis.filter.IsEndDateOpened = !analysis.filter.IsEndDateOpened">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>



            </div>

            <div class="col-xs-12">
                <div class="inline-block padding-bottom-10">
                    <span class="padding-right-5"><button type="button" class="btn btn-width-sm btn-lightorange" ng-click="analysis.applyFilter()">Apply Date Filter</button></span>
                    <span><button type="button" class="btn btn-width-sm btn-red" ng-click="analysis.resetFilter()">Clear Filters</button></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                        <h2>Birds Eye</h2>
                        <button ng-show="analysis.showButton" ng-click="analysis.handleDrillUpClick()" class="btn-primary btn-xs pull-right">
                            <i class="glyphicon glyphicon-zoom-out"></i> Back to {{analysis.buttonLabel}}
                        </button>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body no-padding">
                            <div class="row">
                                <highchart config="analysis.chartConfigs.regionalMapConfig" id="RegionalDispatchesMap"></highchart>
                            </div>

                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <header></header>

                    <!-- widget div-->
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row">
                                <highchart config="analysis.chartConfigs.customerMarketShareConfig" id="CustomerMarketShareChart"></highchart>
                            </div>

                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <header></header>

                    <!-- widget div-->
                    <div>
                        <div class="widget-body no-padding">
                            <div>
                                <highchart config="analysis.chartConfigs.fuelOrdersConfig" id="MarginChart" style="width: 100%;"></highchart>
                            </div>

                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </div>
        </div>
    </div>
</div>
