<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VFMClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VFMClasses.Properties.Settings.FuelManagementConnectionString"
      connectionString="Data Source=degasql1.fuelerlinx.com;Initial Catalog=FuelManagement;Persist Security Info=True;User ID=mhenry"
      providerName="System.Data.SqlClient" />
    <add name="VFMClasses.Properties.Settings.FuelManagementConnectionString1"
      connectionString="Data Source=degasql1.fuelerlinx.com;Initial Catalog=FuelManagement;User ID=mmieglitz;Password=chang3m3!"
      providerName="System.Data.SqlClient" />
    <add name="VFMClasses.Properties.Settings.FuelManagementConnectionString2"
      connectionString="Data Source=degasql1.fuelerlinx.com;Initial Catalog=FuelManagement;User ID=mmieglitz;Password=chang3m3!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <VFMClasses.Properties.Settings>
      <setting name="VFMClasses_FuelerLinxDegaIntegration_DegaIntegration"
        serializeAs="String">
        <value>https://beta.fuelerlinx.com/Services/Transactions/DegaIntegration.asmx</value>
      </setting>
    </VFMClasses.Properties.Settings>
  </applicationSettings>
</configuration>